* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html .hero, body .hero {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../../images/home/homebg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .hero .custom-shape-divider-bottom-1618340795, body .hero .custom-shape-divider-bottom-1618340795 {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

html .hero .custom-shape-divider-bottom-1618340795 svg, body .hero .custom-shape-divider-bottom-1618340795 svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

html .hero .custom-shape-divider-bottom-1618340795 .shape-fill, body .hero .custom-shape-divider-bottom-1618340795 .shape-fill {
  fill: #F4F4F4;
}

html .hero .content, body .hero .content {
  max-width: 70%;
  position: relative;
}

html .hero .content .text, body .hero .content .text {
  text-align: center;
  margin: 60px 0;
}

html .hero .content .text h1, body .hero .content .text h1 {
  font-size: 36px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, left top, left bottom, from(#EA7B4B), color-stop(40%, white));
  background: linear-gradient(to bottom, #EA7B4B, white 40%);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px;
}

html .hero .content .text p, body .hero .content .text p {
  font-size: 18px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, left top, left bottom, from(#EA7B4B), color-stop(40%, white));
  background: linear-gradient(to bottom, #EA7B4B, white 40%);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px;
}

html .hero .content .icons, body .hero .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .hero .content .icons a, body .hero .content .icons a {
  margin: 0 25px;
  -webkit-transition: .6s;
  transition: .6s;
}

html .hero .content .icons a:hover, body .hero .content .icons a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: .6s;
  transition: .6s;
}

html .hero .content .icons a img, body .hero .content .icons a img {
  width: 35px;
}

@media screen and (min-width: 768px) {
  html .hero .custom-shape-divider-bottom-1618340795, body .hero .custom-shape-divider-bottom-1618340795 {
    display: block;
  }
  html .hero .content, body .hero .content {
    max-width: 50%;
  }
  html .hero .content .text h1, body .hero .content .text h1 {
    font-size: 68px;
  }
  html .hero .content .text p, body .hero .content .text p {
    font-size: 30px;
  }
}

html .button-section, body .button-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}

html .button-section .content, body .button-section .content {
  max-width: 70%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .button-section .content .button, body .button-section .content .button {
  text-decoration: none;
}

html .button-section .content .button .button-el, body .button-section .content .button .button-el {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#FFB200), to(#EA5459));
  background: linear-gradient(90deg, #FFB200 0%, #EA5459 100%);
  border-radius: 45px;
}

html .button-section .content .button .button-el h2, body .button-section .content .button .button-el h2 {
  font-size: 24px;
  color: white;
}

html .button-section .content p, body .button-section .content p {
  font-size: 18px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 768px) {
  html .button-section .content, body .button-section .content {
    max-width: 50%;
  }
  html .button-section .content .button, body .button-section .content .button {
    -webkit-transition: .8s;
    transition: .8s;
  }
  html .button-section .content .button:hover, body .button-section .content .button:hover {
    -webkit-transition: .8s;
    transition: .8s;
  }
  html .button-section .content .button:hover .button-el, body .button-section .content .button:hover .button-el {
    -webkit-transition: .8s;
    transition: .8s;
    background: -webkit-gradient(linear, left top, right top, from(#f5c557), to(#f35b60));
    background: linear-gradient(90deg, #f5c557 0%, #f35b60 100%);
  }
  html .button-section .content .button .button-el, body .button-section .content .button .button-el {
    width: 300px;
    height: 80px;
  }
  html .button-section .content .button .button-el h2, body .button-section .content .button .button-el h2 {
    -webkit-transition: .8s;
    transition: .8s;
    font-size: 36px;
  }
  html .button-section .content p, body .button-section .content p {
    font-size: 32px;
  }
}

html .card-section, body .card-section {
  width: 100%;
}

html .card-section h1, body .card-section h1 {
  text-align: center;
  font-size: 36px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EA7B4B), to(#E73D58));
  background: linear-gradient(to bottom, #EA7B4B, #E73D58);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html .card-section .cards, body .card-section .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0;
}

html .card-section .cards .card, body .card-section .cards .card {
  width: 70%;
  height: 200px;
  border-radius: 15px;
  background-image: url("../../images/home/serviceimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .8s;
  transition: .8s;
}

html .card-section .cards .card:hover, body .card-section .cards .card:hover {
  cursor: pointer;
}

html .card-section .cards .card:hover h3, body .card-section .cards .card:hover h3 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
  -webkit-transition: .8s;
  transition: .8s;
}

html .card-section .cards .card:hover p, body .card-section .cards .card:hover p {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .8s;
  transition: .8s;
}

html .card-section .cards .card h3, body .card-section .cards .card h3 {
  color: white;
  font-size: 28px;
  text-align: center;
  max-width: 70%;
  -webkit-transition: .8s;
  transition: .8s;
}

html .card-section .cards .card p, body .card-section .cards .card p {
  color: white;
  font-size: 18px;
  text-align: center;
  max-width: 70%;
  -webkit-transition: .8s;
  transition: .8s;
}

@media screen and (min-width: 768px) {
  html .card-section h1, body .card-section h1 {
    font-size: 48px;
  }
  html .card-section .cards, body .card-section .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html .card-section .cards .card, body .card-section .cards .card {
    width: 25%;
    height: 230px;
  }
  html .card-section .cards .card p, body .card-section .cards .card p {
    max-width: 80%;
  }
}

html .costumers-section, body .costumers-section {
  width: 100%;
  margin: 50px 0;
}

html .costumers-section .content, body .costumers-section .content {
  width: 100%;
  text-align: center;
}

html .costumers-section .content span, body .costumers-section .content span {
  font-size: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EA7B4B), to(#E73D58));
  background: linear-gradient(to bottom, #EA7B4B, #E73D58);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html .costumers-section .content b, body .costumers-section .content b {
  margin: 20px 0;
  font-weight: bold;
  font-size: 144px !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#EA7B4B), to(#E73D58));
  background: linear-gradient(to bottom, #EA7B4B, #E73D58);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  html .costumers-section .content span, body .costumers-section .content span {
    font-size: 48px;
  }
  html .costumers-section .content b, body .costumers-section .content b {
    font-size: 288px;
  }
}

html .phrase-section, body .phrase-section {
  width: 100%;
  height: 470px;
  background-image: url("../../images/home/homebg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 50px 0;
}

html .phrase-section .dividerbottom, body .phrase-section .dividerbottom {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

html .phrase-section .dividerbottom svg, body .phrase-section .dividerbottom svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

html .phrase-section .dividerbottom .shape-fill, body .phrase-section .dividerbottom .shape-fill {
  fill: #F4F4F4;
}

html .phrase-section .dividertop, body .phrase-section .dividertop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

html .phrase-section .dividertop svg, body .phrase-section .dividertop svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

html .phrase-section .dividertop .shape-fill, body .phrase-section .dividertop .shape-fill {
  fill: #F4F4F4;
}

html .phrase-section h1, body .phrase-section h1 {
  max-width: 90%;
  text-align: center;
  color: white;
  font-size: 48px;
}

@media screen and (min-width: 768px) {
  html .phrase-section, body .phrase-section {
    height: 90%;
  }
  html .phrase-section .dividerbottom, body .phrase-section .dividerbottom {
    display: block;
  }
  html .phrase-section .dividertop, body .phrase-section .dividertop {
    display: block;
  }
  html .phrase-section h1, body .phrase-section h1 {
    max-width: 80%;
    font-size: 94px;
  }
}

html .testimonials, body .testimonials {
  width: 100%;
  margin: 50px 0;
  text-align: center;
}

html .testimonials h1, body .testimonials h1 {
  font-size: 36px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EA7B4B), to(#E73D58));
  background: linear-gradient(to bottom, #EA7B4B, #E73D58);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 30px 0;
}

html .testimonials .slider, body .testimonials .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .testimonials .slider a i, body .testimonials .slider a i {
  color: black;
  font-size: 30px;
}

html .testimonials .slider .cards, body .testimonials .slider .cards {
  width: 60%;
  height: 300px;
  margin: 0 40px;
  border-radius: 30px;
  -webkit-filter: drop-shadow(-4px 8px 12px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(-4px 8px 12px rgba(0, 0, 0, 0.35));
}

html .testimonials .slider .cards .card, body .testimonials .slider .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90%;
  border-radius: 30px;
  background: radial-gradient(100% 99.96% at 0% 0%, #EAEAEA 0%, rgba(230, 230, 230, 0.8) 100%);
  margin: 30px 30px;
}

html .testimonials .slider .cards .card::-webkit-backdrop, body .testimonials .slider .cards .card::-webkit-backdrop {
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

html .testimonials .slider .cards .card::backdrop, body .testimonials .slider .cards .card::backdrop {
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

html .testimonials .slider .cards .card img, body .testimonials .slider .cards .card img {
  width: 40%;
  border-radius: 100%;
  margin: 30px 0;
}

html .testimonials .slider .cards .card p, body .testimonials .slider .cards .card p {
  margin-bottom: 30px;
  max-width: 80%;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 768px) {
  html .testimonials .slider .cards .card, body .testimonials .slider .cards .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  html .testimonials .slider .cards .card img, body .testimonials .slider .cards .card img {
    width: 20%;
  }
  html .testimonials .slider .cards .card p, body .testimonials .slider .cards .card p {
    max-width: 60%;
    text-align: start;
  }
}
/*# sourceMappingURL=home.css.map */